# Next.js
fronted/.next/
frontend/.next/

# Dependencias
fronted/node_modules/
frontend/node_modules/
node_modules/

# Build
backend/dist/

# Variables de entorno
.env
.env.local
backend/.env

# Logs
*.log