# Next.js
fronted/.next/
frontend/.next/

# Dependencias
fronted/node_modules/
frontend/node_modules/
node_modules/

# Build
backend/dist/

# Cobertura de pruebas (c8)
backend/coverage/
frontend/coverage/
.nyc_output/
.scannerwork/

# Variables de entorno
.env
.env.local
backend/.env

# Logs
*.log