# Server
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET=mi_banco_digital_secreto_super_seguro_
JWT_EXPIRES_IN=7d

# Supabase
SUPABASE_URL=https://tjsdcuddiucceuvnzfyp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqc2RjdWRkaXVjY2V1dm56ZnlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ5MDQ4ODcsImV4cCI6MjEwMDQ4MDg4N30.WAwp3ZyldSp8UWk3nzxPv7DwoNLTbn1l20Tjf3vS8Cw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqc2RjdWRkaXVjY2V1dm56ZnlwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDkwNDg4NywiZXhwIjoyMTAwNDgwODg3fQ.pLcEJXLpJDo2P8SfLE9fvPv_rblTCACuQfoBNvYwe00

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:3000

GMAIL_USSER=tu_correo@gmail.com
GMAIL_PASS=tu_contraseña_de_aplicacion
